body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #232931;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 600px;
  height: 400px;
  padding: 20px;
  background-color: #393e46;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content {
  width: 100%;
}

.back-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #00adb5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
}

h1 {
  text-align: center;
  margin-top: 0;
}

form {
  display: grid;
  grid-gap: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="text"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eeeeee;
  color: #333333;
  resize: vertical;
}

button {
  padding: 10px;
  background-color: #00adb5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
}

button:hover {
  background-color: #007d8c;
}

@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 10px;
  }
}
