
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #232931;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #393e46;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  clear: right;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
}

button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #00adb5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
  font-size: medium;

}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #555;
}

th {
  background-color: #252935;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #2f3642;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 10px;
  }
}
